<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createBlog.css">
    <link rel="stylesheet" href="/css/navbar.css">
    
</head>
<body>
    <%- include('component/navbar') %>
    <%- include('component/messageBox') %>
    <div class="card">
        <h2 class="card-title">Edit Blog</h2>
        <form class="card-form" action="/editBlog/<%- blog.id %>" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="<%- blog.title %>" required>
            </div>
            <div class="form-group">
                <label for="subtitle">Subtitle</label>
                <input type="text" id="subtitle" name="subtitle" value="<%- blog.subtitle %>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4" value="<%- blog.description %>" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <%- include('../services/timeOut') %>
</body>
</html>
