<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<%- include('component/navbar.ejs') %>
<%- include('component/messageBox') %>
<body>
    <div class="body">
      <%  data.map((item)=>{ %>
    <div class="card">
        <h2 class="card-title"><%- item.title %></h2>
        <h4 class="card-subtitle">Subtitle: <%- item.subtitle %></h4>
        <p class="card-description">Description: <%- item.description.slice(0,30)+ '.......' %></p>
        <a href="/blogDetail/<%- item.id %>">Read More</a>
    </div>
<% }) %>
   </div>
    
<%- include('../services/timeOut') %>
</body>
</html>