<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<%- include('component/navbar.ejs') %>
<%- include('component/messageBox') %>
<body>
    <% if(data.length == 0){ %>
        <div style="display: flex; justify-content: center; align-items: center;" class="body">
        <h2><%- userName%> have NO BLOGS</h2>    
        </div>
    <% }else{ %>
    <div class="body">
      <%  data.map((item)=>{ %>
    <div class="card">
        <h2 class="card-title"><%- item.title %></h2>
        <h4 class="card-subtitle">Subtitle: <%- item.subtitle %></h4>
        <p class="card-description">Description: <%- item.description.slice(0,30)+ '.......' %></p>
        <p>Author: <%- item.user.username %></p>
        <a href="/blogDetail/<%- item.id %>">Read More</a>
    </div>
<% }) %>
   </div>
<% } %>
    
<%- include('../services/timeOut') %>
<%- include('component/footer') %>
</body>
</html>